[Unit]
Description=Ban IP - Intrusion prevention system daemon
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/
ExecStart=/usr/bin/ban-ip -f /etc/ban-ip.cfg
ExecStop=/usr/bin/ban-ip -H localhost -p 7777 -c exit -a 0
[Install]
WantedBy=multi-user.target
