[Unit]
Description=Ban IP - Intrusion prevention system daemon
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/
ExecStart=/usr/local/bin/ban_ip  -l -p 7777 -w 195.25.201.123 -s 445 -s 21
ExecStop=/usr/local/bin/ban_ip -h localhost -p 7777 -c exit -a 0
[Install]
WantedBy=multi-user.target
